<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HastaneTakipsistemi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HastaneTakipsistemi.styles.css" asp-append-version="true" />
    <link href="~/css/navbar.css" rel="stylesheet">
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }
    else
    {
        <style>
            @* Varsayılan stil *@
            body { background-color: #f4f6f9; }
        </style>
    }
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HastaneTakipsistemi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        @if(!User.Identity.IsAuthenticated){
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Welcome">Ana Sayfa</a>
                            </li>
                        }                   
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Patient"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Patient" asp-action="Profile">Profilim</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-controller="Appointment" asp-action="MyAppointments">Randevularım</a>
                                </li>
                            }
                            else if (User.IsInRole("Doctor"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Appointment"
                                        asp-action="DoctorAppointments">Randevular</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="TestRequest"
                                        asp-action="RequestedTests">İstenen Tahliller</a>
                                </li>
                            }
                            else if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">Yönetim Paneli</a>
                                </li>
                            }
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HastaneTakipsistemi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
