@using Microsoft.AspNetCore.Identity
@using HastaneTakipsistemi.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    ApplicationUser currentUser = await UserManager.GetUserAsync(User);
    <li class="nav-item">
        @if (currentUser?.FirstName != null && currentUser?.LastName != null)
        {
            <span class="nav-link text-dark">Hoşgeldin @currentUser.FirstName @currentUser.LastName</span>
        }
        else
        {
            <span class="nav-link text-dark">Hoşgeldin @User.Identity?.Name</span>
        }
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">Çıkış Yap</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Kayıt Ol</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Giriş Yap</a>
    </li>
}
</ul>