html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.welcome-container {
  background-color: #f4f6f9;
}

.carousel-item img {
  max-height: 500px;
  object-fit: cover;
}

.card {
  transition: transform 0.3s;
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
}

.btn {
  margin-top: auto;
}

.text {
  color: rgb(24, 15, 15);
}